.idea
.git
.github
build/dev/certs
build/dev/example.env
src/log
src/temp
src/.env
src/.env.*
!src/.env.example
upload
.gitignore
.dockerignore
Dockerfile
LICENSE
compose.yaml
compose.ci.yaml
makefile
README.md
node_modules
vendor
*.log
