.idea
.git
.github
build/dev/cert
build/dev/example.env
build/prod/manifest-template.yaml
manifest.yaml
src/log
src/temp
src/.env.*
upload
.gitignore
.dockerignore
Dockerfile
LICENSE
compose.yaml
makefile
README.MD
